/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #3d014b, #90046a); /* Degradado de morado a rosa */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #671a7d24;
  color: white;
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #90046a; /* Color para el título */
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para los campos del formulario */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff39;
}

.form-group small {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #c7c7c7;
}

textarea {
  resize: vertical;
}

/* Estilos para los botones */
.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn-reset, 
.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 48%; /* Alinea los botones y asegura que estén distribuidos */
}

.btn-reset {
  background-color: #585454;
  color: white;
}

.btn-submit {
  background-color: #2238a7;
  color: white;
}

.btn-reset:hover {
  background-color: #585454;
}

.btn-submit:hover {
  background-color: #388e3c;
}
