#notices-carousel {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.notice-slide {
  position: relative;
  height: 100%;
}

.notice-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notice-text {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  padding: 15px;
  width: 100%;
}