/* Estilos generales */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8A1A85; /* color sólido morado */
    color: white; /* texto en blanco */
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #8A1A85;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon {
    font-size: 1.5rem;
}

.logo-text {
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
    color: #2563eb;
}

/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 4rem;
    position: relative; /* enable overlay */
    overflow: hidden;
}

.hero-texto h1 {
    font-size: 6rem;
    margin-bottom: 10rem;
} 

.hero-texto p {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.hero-botones {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.hero-ilustracion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 90%;
    max-width: 520px;
    height: auto;
    object-fit: contain;
    margin-right: -30px;
    /* mueve la imagen hacia la derecha */
    filter: drop-shadow(0px 0px 25px rgba(200, 70, 255, 0.5));
    /* brillo */
}

.form-container {
  background-color: #671a7d24;
  color: white;
  padding: 30px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #90046a; /* Color para el título */
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para los campos del formulario */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff39;
}

.form-group small {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #c7c7c7;
}

textarea {
  resize: vertical;
}

/* Estilos para los botones */
.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn-reset, 
.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 48%; /* Alinea los botones y asegura que estén distribuidos */
}

.btn-reset {
  background-color: #585454;
  color: white;
}

.btn-submit {
  background-color: #2238a7;
  color: white;
}

.btn-reset:hover {
  background-color: #585454;
}

.btn-submit:hover {
  background-color: #388e3c;
}